body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin-top: 1em;
	align-items: center;
	background-color: #e4dcc9;

	/* optional */
	gap: 1em;
	font-family: "IBM Plex Mono";
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 2px;
	user-select: none;
}

/* MAIN STYLES FOR PLAY BUTTON */
#video-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 394px;
	width: 700px;
	border: 3px solid #24221b;
	border-radius: 5px;
	position: relative;
	cursor: none;
	max-width: 100%;
}

#play-button {
	position: absolute;
	border: 3px solid #24221b;
	border-radius: 100px;
	width: 120px;
	height: 120px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: #e4dcc9;
	opacity: 1;
	transition: all 0.3s ease-out;
	cursor: none;
}

#video {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.play-icon {
	font-size: 20px;
	color: #24221b;
}

/* END OF MAIN STYLES FOR PLAY BUTTON */

/* Optional */

a {
	text-decoration: none;
	color: inherit;
}

::placeholder {
	color: #24221b;
	opacity: 30%;
}

::selection {
	background-color: #24221b;
	color: #e4dcc9;
}

.info {
	display: flex;
	flex-direction: row;
	gap: 1em;
	width: 700px;
	height: 50px;
	max-width: 100%;
}

.button {
	border: 3px solid #24221b;
	background-color: #24221b;
	color: #e4dcc9;
	border-radius: 50px;
	display: flex;
	align-items: center;
	width: 30%;
	justify-content: center;

	font-family: "IBM Plex Mono";
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 2px;
	cursor: pointer;
}

.button:hover {
	background-color: #e4dcc9;
	color: #24221b;
}

.button > p {
	margin: 0;
}

.one {
	width: 70%;
	padding: 0 20px;
	border: 3px solid #24221b;
	border-radius: 50px;
	display: flex;
	align-items: center;
	background-color: #e4dcc9;

	font-family: "IBM Plex Mono";
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 2px;
}

.description {
	height: fit-content;
	box-sizing: border-box;
	padding: 20px 20px;
	border: 3px solid #24221b;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	background-color: #e4dcc9;
	font-size: 16px;
}

.description > * {
	margin: 0;
}